@model List<WeddingChecklistNew.Models.Comment>

<div class="card">
    @*<div class="card-body">
            <h4 class="card-title">Recent Comments</h4>
        </div>*@
    <!-- ============================================================== -->
    <!-- Comment widgets -->
    <!-- ============================================================== -->
    <div class="comment-widgets m-b-20">
        <h4 class="card-title">Recent Comments</h4>
        @foreach (var item in Model)
        {
            <!-- Comment Row -->
            <div class="d-flex flex-row comment-row">
                <div class="p-2"><span class="round"><img src="~/assets/images/users/user1.png" alt="user" width="50"></span></div>
                <div class="comment-text w-100">
                    <h5>@item.UserId</h5>
                    <div class="comment-footer">
                        <span class="date">@item.LogDate.ToString()</span>
                        <span class="action-icons">
                            @if (item.UserId == User.Identity.Name && ViewBag.Transaction == true)
                            {
                                <a href="javascript:void(0)" onclick="Delete(@item.Id)"><i class="glyphicon glyphicon-trash m-r-5"></i></a>
                            }
                        </span>
                    </div>
                    <a class="m-b-5 m-t-10" @Html.Raw("href='/ChecklistMains/Details/" + @item.ChecklistMainId + "'")>@item.CheckListMain.Name</a>
                    <p class="m-b-5 m-t-10">@item.Text</p>
                </div>
            </div>
        }

        @if (@ViewBag.Transaction)
        {
            <!-- Comment Row -->
            <div class="d-flex flex-row comment-row">
                <div class="p-2"><span class="round"><img src="~/assets/images/users/user1.png" alt="user" width="50"></span></div>
                <div class="comment-text w-100">
                    <h5>@User.Identity.Name</h5>
                    <div class="comment-footer">
                        <textarea class="m-b-5 m-t-10" id="newtext"></textarea>
                    </div>
                </div>
                <input type="button" id="newtext" onclick="Save()" class="btn btn-success" value="Save" />
            </div>
        }


    </div>
</div>

<script>
    function Save() {
        var checklistmainid = @ViewBag.ChecklistMainId;
        $.ajax({
            type: "POST",
            url: "/Comments/Create",
            data: { text: $("#newtext").val(), ChecklistMainId: checklistmainid, Type : 1 },
            success: function (data) {
                toastr.success("done!");
                $("#commentpartial").load("/ChecklistMains/CommentView", { id: checklistmainid });
            },
            error: function (xhr, textStatus, errorThrown) {
                toastr.error(xhr.responseText)
            }
        });
    }

    function Delete(id) {
        var checklistmainid = @ViewBag.ChecklistMainId;
        $.ajax({
            type: "POST",
            url: "/Comments/Delete",
            data: { id: id },
            success: function (data) {
                if (data.returntype == 1) {
                    toastr.success(data.message);
                }
                else { toastr.error(data.message); }
                
                $("#commentpartial").load("/ChecklistMains/CommentView", { id: checklistmainid });
            },
            error: function (xhr, textStatus, errorThrown) {
                toastr.error(xhr.responseText)
            }
        });
    }
</script>