@model WeddingChecklistNew.Models.WidgetModel



<div class="card ">
    @*<div class="card-body col-md-6">
            <h4 class="card-title">Recent </h4>
            <div class="message-box">
                <div class="message-widget message-scroll">
                    @foreach (var item in Model.ChecklistMain)
                    {
                        <a href="@item.Link">
                            <div class="user-img"> <img src="~/Content/Scaffold/assets/img/dummies/80x80/img1.jpg" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div>
                            <div class="mail-contnet">
                                <h5> @item.MainName</h5>
                                <span class="mail-desc">@item.Description</span>
                            </div>
                        </a>
                    }

                </div>
            </div>
        </div>*@
    <div class="card-body col-md-6">
        <h4><strong>Do you have a marriage plan near time ?</strong></h4>
        <h4><strong>Do you wonder what couples buy for marriage ?</strong></h4>
        <h4><strong>Do you need help about marriage ?</strong></h4>
        <h4><strong>Do you wonder which brands are popular in checklist ?</strong></h4>
        <p>You can create weddinglist easily and you can share with your friends and family.&nbsp;</p>
        <p>You can access other couples weddinglists and you can get advise from them.</p>
        <p>You can give priority for your items and share them with your friends.</p>
        <p>You can monitor which brand is popular for other couples.</p>
        <p>You can create private weddinglist for yourself and nobody can access these lists.</p>
        <p>There is no limit, you can create many weddinglists and share them with your friends and family.</p>
        <p>You can investigate other countries weddinglists.&nbsp;</p>
        <p>You can check sample weddinglists, it will help creating your own list.</p>
        <p>You can also compare product prices and you can access product easily from url.</p>
        <p>You can export your list to pdf,word easily.</p>
        <p>We will integrate<strong> instagram </strong>and <strong>facebook</strong> soon. You will share your lists in facebook and instagram easily.</p>
        <p>We will create <strong>demo videos</strong> soon. It will help you about using createweddinglist.com</p>
        <p><strong>createweddinglist.com</strong> provides you create weddinglist easily and share it with your family and friends.</p>
        <p><strong>Please join createweddinglist.com</strong></p>
        <p><strong>if you have any feedback, please contact with us.&nbsp;<strong>info@createweddinglist.com</strong></strong></p>
    </div>

    <div class="card-body col-md-6">
        <h4 class="card-title">Product List</h4>
        <div class="message-box">
            <div class="message-widget message-scroll">
                <!-- Message -->
                @foreach (var item in Model.Checklists)
                {
                    <a href="@item.Link">
                        <div class="user-img">

                            @*<img src="@Href(item.ImagePath)" alt="user" class="img-circle">*@
                            @*C:\Users\Seyfi\Desktop\vs proje\WeddingChecklistNew\WeddingChecklistNew\assets\images\property*@
                            <img @Html.Raw(item.ImagePath == null ? "src=" + @Href("~/assets/images/property/furniture1.png") : "src=" + @Href(item.ImagePath))>
                            <span class="profile-status online pull-right"></span>
                        </div>
                        <div class="mail-contnet">
                            <h5> @item.Name</h5>
                            <span class="mail-desc">@item.Url</span>
                        </div>
                    </a>
                }

            </div>
        </div>
    </div>
</div>

    @*<script>
        $("#commentspartial").load("/Comments/CommentViewTop");
    </script>*@
