@model WeddingChecklistNew.Models.WidgetModel 


<div class="widget">
    <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href="#recent" data-toggle="tab">Lastes</a></li>
        <li class=""><a href="#popular" data-toggle="tab">Popular</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="recent">
            <ul class="recent">
                @foreach (var item in Model.ChecklistMain)
                {
                    <li>
                        <a href="#">
                            <img src="~/Content/Scaffold/assets/img/dummies/80x80/img1.jpg" class="alignleft"  />
                        
                        </a>
                        <h6><a href=@item.Link>@item.MainName</a></h6>
                        <p>
                           @item.Description
                        </p>
                    </li>
                }
            </ul>
        </div>
        <div class="tab-pane fade" id="popular">
            <ul class="recent">
                @foreach (var item in Model.Checklists)
                {
                <li>
                    <a href=@item.Link><img src="@Href(item.ImagePath)" class="alignleft" style="width:3%" alt=""></a>
                    <h6><a href=@item.Link>@item.Name</a></h6>
                    <a href=@item.Url>@item.Url</a>
                </li>
                }
            </ul>
        </div>
    </div>
</div>