@model WeddingChecklistNew.Models.WidgetModel

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="steamline m-t-40">
                    <div class="sl-item">
                        <div class="sl-left bg-success"> <i class="ti-user"></i></div>
                        <div class="sl-right">
                            <div class="font-medium">Do you have a marriage plan near time ?</div>
                            <div class="desc">If yes, you can plan anything on this site</div>
                        </div>
                    </div>
                    <div class="sl-item">
                        <div class="sl-left bg-info"><i class="fa fa-image"></i></div>
                        <div class="sl-right">
                            <div class="font-medium">Do you wonder what couples buy for marriage ?</div>
                            <div class="desc">If yes, you can make a list on this site </div>
                        </div>
                    </div>
                    <div class="sl-item">
                        <div class="sl-left bg-info"><i class="fa fa-image"></i></div>
                        <div class="sl-right">
                            <div class="font-medium">Do you need help about marriage ? ?</div>
                            <div class="desc">If yes, you can see others list </div>
                        </div>
                    </div>
                    <div class="sl-item">
                        <div class="sl-left bg-info"><i class="fa fa-image"></i></div>
                        <div class="sl-right">
                            <div class="font-medium">Do you wonder which brands are popular in checklist ?</div>
                            <div class="desc">If yes, you can order most populer brands </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Product List</h5>
                <div class="steamline m-t-40">
                    @foreach (var item in Model.Checklists)
                    {
                        <div class="sl-item">
                            <div class="sl-left">
                                <img class="img-circle" @Html.Raw(item.ImagePath == null ? "src=" + @Href("~/assets/images/property/furniture1.png") : "src=" + @Href(item.ImagePath))>
                            </div>
                            <div class="sl-right">
                                <div class="font-medium">@item.Name</div>
                                <div class="desc">@item.Url</div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" ">
    @*<div class="card-body col-md-6">
            <h4 class="card-title">Recent </h4>
            <div class="message-box">
                <div class="message-widget message-scroll">
                    @foreach (var item in Model.ChecklistMain)
                    {
                        <a href="@item.Link">
                            <div class="user-img"> <img src="~/Content/Scaffold/assets/img/dummies/80x80/img1.jpg" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div>
                            <div class="mail-contnet">
                                <h5> @item.MainName</h5>
                                <span class="mail-desc">@item.Description</span>
                            </div>
                        </a>
                    }

                </div>
            </div>
        </div>*@


    @*<div class="card-body col-md-6">
        <h4 class="card-title">Product List</h4>
        <div class="message-box">
            <div class="message-widget message-scroll">
               
                @foreach (var item in Model.Checklists)
                {
                    <a href="@item.Link">
                        <div class="user-img">

                            <img @Html.Raw(item.ImagePath == null ? "src=" + @Href("~/assets/images/property/furniture1.png") : "src=" + @Href(item.ImagePath))>
                            <span class="profile-status online pull-right"></span>
                        </div>
                        <div class="mail-contnet">
                            <h5> @item.Name</h5>
                            <span class="mail-desc">@item.Url</span>
                        </div>
                    </a>
                }

            </div>
        </div>
    </div>*@
</div>
