@model WeddingChecklistNew.Models.Checklist

@{
    ViewBag.Title = "Details";
    SelectList imagelist = (SelectList)ViewData["listChecklistImage"];
}

<h2>Details</h2>

<div>
    <h4>Checklist</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CheckListMain.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckListMain.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Currency.code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Currency.code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Done)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Done)
        </dd>

    </dl>
</div>

@*<div class="form-group">
        @foreach (var item in imagelist)
        {
            <img src="@Href(item.Text)" width="250" height="250" />
        }
    </div>*@

<div class="form-group">
    @foreach (var item in imagelist)
    {
        <span class="zoom" style="position: relative; overflow: hidden;">
            <img src="@Href(item.Text)" width="300" height="300">
            <img role="presentation" src="@Href(item.Text)" class="zoomImg" style="position: absolute; top: -64px; left: -373.5px; opacity: 0; width: 1110px; height: 640px; border: none; max-width: none; max-height: none;">
        </span>
    }
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { checklistmainid = Model.ChecklistMainId, id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index", new { checklistmainid = Model.ChecklistMainId })
</p>
